
/*ESTILIZANDO Fomulário*/
body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	background: linear-gradient(80deg, #87CEEB, #2E8B57, #FFA07A, #9370DB);
}
fieldset {
	margin: 1em 0;
	padding: 1.2em;
	border: 1px solid #ccc;
	font-size: 15px;
	background: #f8f8f8;
} 
legend {
	font-weight: bold;
}
label {
	display: block;
	cursor: pointer;
}
/*seletor de atributo []*/
input[type="text"] {
	width: 20em;
}
textarea {
	width: 20em;
	height: 10em;
}
input.radio, input.checkbox, input.submit {
	width: auto;
}
.radio {
	margin-right: 1.1em;
}